/* Buttons */

// mobile
// tablet
// desktop

.callback-button {
  display: block;
  padding: 10px 24px;

  font-size: 16px;
  font-weight: 600;
  color: var(--primary-light);
  background-color: var(--accent-color-light);
  border: 2px solid var(--accent-color-light);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 1s ease, color 1s ease;

  @media screen and (min-width: $bp-desktop) {
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 600;
  }

  &:hover {
    color: var(--accent-color-dark);
    background-color: var(--primary-light);
  }

  // Modificator
  &--header {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }
  //

  // Modificator
  &--hero {
    margin: 0px auto;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
  //

  // Modificator
  &--form-modal {
    margin: 0px auto 16px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0px auto 24px;
    }
  }
  //

  &--form-contacts {
    margin: 0px auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0px auto 16px;
    }
  }
}

//Carousel buttons
.carousel-button {
  display: none;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid var(--primary-dark);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 1s ease, fill 1s ease;

  //for icon
  fill: var(--primary-dark);

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &:hover {
    background-color: var(--primary-dark);

    // for icon
    fill: var(--primary-light);
  }
}

// Modal window buttons
.mobile-menu__button,
.modal__button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: border-radius 1s ease, border 1s ease;

  @media screen and (min-width: $bp-tablet) {
    top: 42px;
    right: 42px;
  }

  &:hover {
    border: 2px solid var(--accent-color-dark);
    border-radius: 50%;
  }
}

/* Burger button */
.burger-button {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 1s ease;

  // for icon
  fill: var(--primary-light);

  &:hover {
    fill: var(--primary-dark);
  }

  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
}

/* Pagination buttons */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  gap: 24px;

  &__button {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: var(--decor-dark);
    cursor: pointer;

    &_active {
      background-color: var(--accent-color-dark);
    }
  }
}
