/* Form */

// mobile
// tablet
// desktop

.form {
  text-align: start;

  //   Modificator
  &__field--modal {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
    }
  }
  //

  //   Modificator
  &__field--contacts {
    margin-bottom: 24px;
  }
  //

  &__input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--decor-dark);
    border-radius: 8px;
    background-color: transparent;

    &:focus {
      border-color: var(--accent-color-light);
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.17;
      color: var(--decor-dark);
    }

    &:focus::placeholder {
      color: var(--primary-dark);
    }

    //Modificator
    &--contacts {
      padding: 8px 24px;

      @media screen and (min-width: $bp-tablet) {
        padding: 16px 42px;
      }
    }
    //
  }

  &__policy {
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-dark);
  }

  //Modificator
  &__policy--contacts {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
  //

  &__confidentiality {
    color: var(--primary-dark);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
