/* Mobile menu */

// mobile
// tablet
// desktop

.mobile-menu {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 24px;
  background-color: var(--primary-light);
  transform: translateX(100%); // -100% если бургер с правой стороны
  transition: transform 0.3s;
  z-index: 10;

  /* JS */
  &.is-open {
    transform: translateX(0);
  }

  //Decoration
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 122px;
    width: 96px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/decoration/mobile-menu-bread.png");

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/decoration/mobile-menu-bread@2x.png");
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__logo {
    width: 72px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__list-item {
    color: var(--primary-dark);
    transition: color 1s ease;

    &:hover {
      font-weight: 600;
      color: var(--accent-color-light);
    }
  }
}
