.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 540px;
  padding: 40px;
  text-align: center;
  background-color: var(--primary-light);
  border-radius: 32px;
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    padding: 42px 144px;
    max-height: 880px;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
  }

  //Decoration
  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 122px;
    width: 96px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/modal-bread.png");

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/modal-bread@2x.png");
    }

    // Tablet
    @media screen and (min-width: $bp-tablet) {
      height: 244px;
      width: 190px;
    }
  }

  //Content
  &__title {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 72px;
    }
  }
}
