/* Buttons */

// mobile
// tablet
// desktop

.callback-button {
  display: block;
  padding: 10px 24px;

  font-size: 16px;
  font-weight: 600;
  color: var(--primary-light);
  background-color: var(--accent-color-light);
  border: 2px solid var(--accent-color-light);
  border-radius: 8px;
  cursor: pointer;

  @media screen and (min-width: $bp-desktop) {
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 600;
  }

  &:hover {
    color: var(--accent-color-dark);
    background-color: var(--primary-light);
  }

  // Modificator
  &_header {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &_hero {
    margin: 0px auto;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}

.carousel-button {
  display: none;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid var(--primary-dark);
  border-radius: 50%;
  cursor: pointer;

  //for icon
  fill: var(--primary-dark);

  &:hover {
    background-color: var(--primary-dark);

    // for icon
    fill: var(--primary-light);
  }

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

// Modal window button
.modal__button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: $bp-tablet) {
    top: 42px;
    right: 42px;
  }

  &:hover {
    border: 2px solid var(--accent-color-dark);
    border-radius: 50%;
  }
}
