/* Buttons */

// mobile
// tablet
// desktop

.button {
  display: block;
  padding: 10px 24px;

  font-size: 16px;
  font-weight: 600;
  color: var(--primary-light);
  background-color: var(--accent-color-light);
  border: 2px solid var(--accent-color-light);
  border-radius: 8px;
  cursor: pointer;

  @media screen and (min-width: $bp-desktop) {
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 600;
  }

  &:hover {
    color: var(--accent-color-dark);
    background-color: var(--primary-light);
  }

  &_hero {
    margin: 0px auto;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
