/* Chefs section */

// mobile
// tablet
// desktop

.chefs {
  padding: 20px 0px;

  @media screen and (min-width: $bp-tablet) {
    padding: 24px 0px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 48px 0px;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      gap: 24px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 30px;
    }
  }

  &__list-item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 24px) / 2);
    }

    @media screen and (min-width: $bp-desktop) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

.chef {
  display: flex;
  gap: 16px;

  @media screen and (min-width: $bp-tablet) {
    gap: 24px;
  }

  @media screen and (min-width: $bp-desktop) {
    gap: 30px;
  }

  &__img {
    max-width: 140px;
    border-radius: 4px 4px 4px 200px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 160px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 242px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: $bp-tablet) {
      gap: 16px;
    }
  }
}
