/* Chefs section */

// mobile
// tablet
// desktop

.chefs {
  padding: 20px 0px;

  @media screen and (min-width: $bp-tablet) {
    padding: 24px 0px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 48px 0px;
  }

  &__title {
    position: relative;

    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 24px;
      display: none;
      border: 2px solid var(--decor-light);

      @media screen and (min-width: $bp-tablet) {
        display: block;
        width: 240px;
      }

      @media screen and (min-width: $bp-desktop) {
        width: 352px;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px 24px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 40px 32px;
    }
  }

  &__list-item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 24px) / 2);
    }

    @media screen and (min-width: $bp-desktop) {
      flex-basis: calc((100% - 32px) / 2);
    }
  }
}

.chef {
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  gap: 16px;

  @media screen and (min-width: $bp-tablet) {
    padding-left: 0px;
    gap: 24px;
  }

  @media screen and (min-width: $bp-desktop) {
    gap: 32px;
  }

  &__img {
    max-width: 140px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -10px 10px 0 0px var(--primary-light),
      -10px 10px 0 2px var(--decor-dark);

    @media screen and (min-width: $bp-tablet) {
      max-width: 160px;
      box-shadow: -16px 16px 0 0px var(--primary-light),
        -16px 16px 0 1px var(--decor-dark);
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 242px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: $bp-tablet) {
      gap: 16px;
    }
  }
}
