/* Footer */

// mobile
// tablet
// desktop

.footer {
  @media screen and (min-width: $bp-tablet) {
    padding-top: 24px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-top: 48px;
  }

  &__list-item {
    color: var(--primary-light);
  }

  &__list-item:hover {
    font-weight: 600;
    color: var(--accent-color-light);
  }

  &__address {
    font-size: 14px;
    font-weight: 300;

    @media screen and (min-width: $bp-desktop) {
      font-size: 16px;
    }
  }

  &__address-list-item:hover {
    color: var(--accent-color-light);
  }

  &__additional-info {
    font-size: 14px;
    font-weight: 300;

    @media screen and (min-width: $bp-desktop) {
      font-size: 16px;
    }
  }
}
