/* Header */

// mobile
// tablet
// desktop

.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 0px;

  // padding-top: 32px;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 24px;
  }

  &__list {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      gap: 40px;
    }

    @media screen and (min-width: $bp-tablet) {
      gap: 64px;
    }
  }

  &__list-item {
    min-width: 94px;
    color: var(--primary-light);
    transition: color 0.3s;

    @media screen and (min-width: $bp-desktop) {
      min-width: 122px;
    }

    &:hover {
      font-weight: 600;
      color: var(--accent-color-light);
    }
  }
}
